.game {
  min-height: 100vh;
  overflow-y: auto;
}

.tip {
  /*  */
}

.wordContainer {
  /*  */
}

.letterContainer {
  /*  */
}

.wrongLetterContainer {
  /*  */
}

.helpersContainer {
  /*  */
}

.letter, .blankSquare {
  margin: 0.25rem;
  height: 4.5rem;
  width: 4.5rem;
  line-height: 1.75;
  text-transform: uppercase;
  background-color: #f8f8f8;
  color: #000;
  font-weight: bold;
}